/* Css reset can be found here: https://www.joshwcomeau.com/css/custom-css-reset/*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Project CSS*/
.invisible {
  display: none;
}

.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-content: center;
  background-color: #1c9cf6;
  height: 100vh;
  width: 100vw;
}

body > div:first-child {
  width: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
}

.search {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: inherit;
  gap: 20px;
}

.search > div:first-child {
  display: flex;
  justify-content: center;
  width: inherit;
}

input {
  width: 50%;
  padding-left: 5px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  height: 30px;
}

#submit {
  all: unset;
  font-size: 1.2rem;
  text-align: center;
  background-color: #0b76c3;
  font-weight: 500;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  height: 30px;
  width: 100px;
  cursor: pointer;
  margin-bottom: 20px;
}

#submit:hover {
  background-color: #0567ae;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons > button {
  font-size: 1.2rem;
  text-align: center;
  background-color: #06436e;
  font-weight: 500;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border: none;
  height: 30px;
  width: 100px;
  cursor: pointer;
  margin-bottom: 10px;
}

.buttons > button:hover {
  background-color: #022d4b;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  color: white;
}

.card p {
  line-height: 1.2;
}

.card > p:first-child {
  font-size: 1.4rem;
  font-weight: 600;
}

.card > p:nth-child(2) {
  font-size: 3rem;
  font-weight: 300;
  padding-left: 15px;
}

.card > p {
  font-weight: 400;
  font-size: 1.3rem;
}

.max-min {
  font-weight: 500;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  gap: 5px;
}
